/*https://paletton.com/#uid=74e1q0kqUshbcKrjNvouxkLHZcg*/
body{
    background-color: white;
}

.navbar {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
}

.pagenav {
    background-color: #060644;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
}

.pagenav a{
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0.3%;
    font-size: 20pt;
    border-radius: 50pt;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover, .button:hover{
    background-color: #9693A0;
}

li:hover a, .button:hover{
    color: white;
}

.pageselect {
    background-color: #A50c08;
}

.pageselect a {
    color: white;
}

.button {
    margin-top: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20pt;
    border-radius: 50pt;    
    text-align: center;
    color: white;
}

.bgRed {
    background-color: #bc2626;
}

.bgGrey {
    background-color: #9693A0;
}